<!--Created by Daniel on 7/28/2017.-->
<div class="modal-fixed-footer _2bxpophlder" id="box-pop">
    <div class="card modal-content" style="padding-top: 1px;"><h4 class="pad10 noMargin" id="myModalLabel"></h4>
        <div class="row">
            <form class="col s12">
                <div class="row" style="margin-bottom: 0px;">
                    <div class="col s12 qt-hldr-prnt">
                        <div id="qoute-holder"></div><!--end quote-holder--></div>
                    <div class="input-field col s12" id="gist-title-input"><input class="validate" id="gistTitle"
                                                                                  type="text"
                                                                                  placeholder="Enter Title. Shouldn't be to long"/>
                    </div>
                    <div class="input-field col s12">
                        <div class="Editor-container" style="max-height: 300px; position: relative;"><textarea
                                class="Editor-editor" id="postArea" data-emojiable="true"
                                style="height: inherit;"></textarea><!--label(for="postArea") Message--></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer"><a class="modal-action btn _2grdntbg waves-effect" id="add_post" ng-click="addPost()"
                                 ng-bind-html="btnText"></a><a class="modal-action modal-close btn-flat"
                                                               style="margin-right: 20px;">close</a></div>
</div><!--.row--><!--    .col.s12.l12--><!--        .card-panel--><!--            h4#myModalLabel--><!--            .row--><!--                form.col.s12--><!--                    .col.s12.qt-hldr-prnt--><!--                        #qoute-holder--><!--                        //end quote-holder--><!--                    .input-field.col.s12#gist-title-input--><!--                        input#gistTitle.validate(type="text" placeholder="Enter Title. Shouldn't be to long")--><!--                    .input-field.col.s12--><!--                        .Editor-container(style="max-height: 300px; position: relative;")--><!--                            textarea(id="postArea" class="Editor-editor" data-emojiable="true" style="height: inherit;")--><!--                            //label(for="postArea") Message-->