//Created by Daniel on 8/2/2017.

.modal#featured-previewer
    .u--header
        p Follow users and gists..
        img.u--sess(ng-src="{{profile_img}}" alt="{{username}}")
        p Like, share, view, create posts and Gists
        p get points
    .u--body
        p._2grdtxt You could be here!!!
        button.btn._2grdntbg.modal-action.modal-close.waves-effect Continue

