<!--Created by Daniel on 6/30/2017.-->
<div class="card _2adspc">
    <div class="card-image"><img src="lib/img/parallax2.jpg"/><span class="card-title">Sponsored</span></div>
</div>
<div class="card _2adspc">
    <ul class="collection with-header">
        <li class="collection-header"><h6>Top users of the week</h6></li>
        <li class="collection-item">
            <div>Alvin<a class="secondary-content" href=""><img class="_2rndd" src="lib/img/yuna.jpg"
                                                                style="width: 30px; height: 30px;"/></a></div>
        </li>
        <li class="collection-item">
            <div>Alvin<a class="secondary-content" href=""><img class="_2rndd" src="lib/img/yuna.jpg"
                                                                style="width: 30px; height: 30px;"/></a></div>
        </li>
        <li class="collection-item">
            <div>Alvin<a class="secondary-content" href=""><img class="_2rndd" src="lib/img/yuna.jpg"
                                                                style="width: 30px; height: 30px;"/></a></div>
        </li>
        <li class="collection-item">
            <div>Alvin<a class="secondary-content" href=""><img class="_2rndd" src="lib/img/yuna.jpg"
                                                                style="width: 30px; height: 30px;"/></a></div>
        </li>
    </ul>
</div>
<div class="card _2adspc">
    <ul class="collection with-header">
        <li class="collection-header"><h6>Top Categories</h6></li>
    </ul>
</div>
<div class="card _2adspc">
    <ul class="collection with-header">
        <li class="collection-header"><h6>Trending Hashtags</h6></li>
    </ul>
</div>