<!--Created by Daniel on 6/30/2017.-->
<ul class="side-nav fixed _2tp" id="slide-out">
    <li>
        <div class="userView">
            <div class="background"><img src="lib/img/office.jpg"/></div>
            <a href="user"><img class="circle _2crcl _2whtbrdd" src="lib/img/yuna.jpg"/></a><a href="name"><span
                class="white-text name"></span></a><a href="name"><span class="white-text name">Gabriel Micah<p>@gabsuave</p></span></a>
        </div>
    </li>
    <li><a href=""><i class="material-icons">home</i></a></li>
    <li><a href="">third side-nav Link</a></li>
    <li class="divider"></li>
    <li><a class="subheader">subheader</a></li>
    <li><a class="waves-effect" href="">Third link with waves</a></li>
</ul>