meta(name="description" content="{{pageDescription}}")
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(content="{{pageKeywords}}" name="keywords")
meta(content="{{pageTitle}}" name="title")
link(rel="canonical" href="{{pageLocation}}")
<!--  Android 5 Chrome Color-->
meta(name="theme-color" content="#1de9b6")

meta(name="openWeatherApi" content="ff2c7dbb6d154c539de8bb55e9bdbe14")
meta(name="openWeatherUrl" content="http://api.openweathermap.org/data/2.5/weather?q=London,uk&appid=ff2c7dbb6d154c539de8bb55e9bdbe14")

//twitter card data
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@gistout_com")
meta(name="twitter:title" content="{{pageTitle}}")
meta(name="twitter:description" content="{{pageDescription}}")

//meta(name="twitter:creator" content="@author_handle")
//twitter summary card image must be at least 120x120px
meta(name="twitter:image:src" content="{{pageImage}}")

//Open graph data
meta(property="og:title" content="{{pageTitle}}")
meta(property="og:type" content="article")
meta(property="og:url" content="{{pageLocation}}")
meta(property="og:image" content="{{pageImage}}")

//Open graph data
meta(property="og:title" content="{{pageTitle}}")
meta(property="og:type" content="article")
meta(property="og:url" content="{{pageLocation}}")
meta(property="og:image" content="https://www.gistout.com/docs/img/favicon.ico")
meta(property="og:description" content="{{pageDescription}}")
meta(property="og:site_name" content="gistout.com")
meta(property="og:admins" content="<facebook App Id>")
base(href="/")