//Created by Daniel on 6/30/2017.
doctype html
html(lang="en")
    head
        title material Gistout
        include ./header.mata-data.pug
        include ./header-css-link
        include ./header-scripts-tag