//Created by Daniel on 6/30/2017.
link(rel="shortcut icon" href="/docs/img/logo/fav.ico" type="image/x-icon")
link(rel="apple-touch-icon" href="/docs/img/logo/fav.ico" type="image/x-icon")

//link(href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" rel="stylesheet")
//link(href="https://cdnjs.cloudflare.com/ajax/libs/wdt-emoji-bundle/0.2.1/wdt-emoji-bundle.min.css" rel="stylesheet")
//link(href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet")
//link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
//link(href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css" rel="stylesheet")
//link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

link(href="lib/css/ghpgs-mtrlz.css" rel="stylesheet")
link(href="lib/css/mtrlicon.css" rel="stylesheet" type="text/css")
//link(href="lib/css/waves.css" rel="stylesheet" type="text/css")
link(href="lib/css/32bhdewedsybe3ejdhs.min.css" rel="stylesheet")
link(href="docs/css/mdicons.min.css" rel="stylesheet" type="text/css")
link(href="docs/css/mintScrollbar.css" rel="stylesheet" type="text/css")
link(href="docs/css/hover-min.css" rel="stylesheet" type="text/css")
link(href="lib/css/emoji.css" rel="stylesheet" type="text/css")
link(href="lib/css/wdt-emoji-bundle.min.css" rel="stylesheet" type="text/css")
link(href="lib/css/emojione.sprites.min.css" rel="stylesheet" type="text/css")
link(href="lib/css/loading-bar.min.css" rel="stylesheet" type="text/css")
link(href="/docs/css/animate.css" rel="stylesheet" type="text/css")